@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 210 10% 40%; /* #4B5563 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 210 10% 40%; /* #4B5563 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 210 10% 40%; /* #4B5563 */
    --primary: 224 64% 33%; /* #1E3A8A */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 41 93% 50%; /* #F59E0B */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 210 20% 98%; /* #F3F4F6 */
    --muted-foreground: 214 10% 50%; /* #6B7280 */
    --accent: 160 51% 49%; /* #10B981 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 24 90% 50%; /* #F97316 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 210 14% 89%; /* #E5E7EB */
    --input: 210 14% 89%; /* #E5E7EB */
    --ring: 224 64% 33%; /* #1E3A8A */
    --chart-1: 41 93% 50%; /* #F59E0B */
    --chart-2: 160 51% 49%; /* #10B981 */
    --chart-3: 224 64% 33%; /* #1E3A8A */
    --chart-4: 24 90% 50%; /* #F97316 */
    --chart-5: 41 93% 50%; /* #F59E0B */
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 39% 11%; /* #111827 */
    --foreground: 210 14% 83%; /* #D1D5DB */
    --card: 210 39% 11%; /* #111827 */
    --card-foreground: 210 14% 83%; /* #D1D5DB */
    --popover: 210 39% 11%; /* #111827 */
    --popover-foreground: 210 14% 83%; /* #D1D5DB */
    --primary: 224 64% 33%; /* #1E3A8A */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 35 93% 43%; /* #D97706 */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 210 21% 15%; /* #1F2937 */
    --muted-foreground: 210 14% 67%; /* #9CA3AF */
    --accent: 160 89% 20%; /* #065F46 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 79% 46%; /* #DC2626 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 210 14% 28%; /* #374151 */
    --input: 210 14% 28%; /* #374151 */
    --ring: 224 64% 33%; /* #1E3A8A */
    --chart-1: 41 93% 50%; /* #F59E0B */
    --chart-2: 160 51% 49%; /* #10B981 */
    --chart-3: 224 64% 33%; /* #1E3A8A */
    --chart-4: 24 90% 50%; /* #F97316 */
    --chart-5: 41 93% 50%; /* #F59E0B */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/aura.ttf') format('truetype');
}

/* For the spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}